table {
  width: 94vw;
  margin: 4vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

mat-paginator{
width: 94vw;
  text-align: center;
  margin: 4vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.addButton{
margin-top: 2vh;
}
::ng-deep .mat-sort-header-container {
display:flex;
justify-content:center;
}
th.mat-header-cell{
text-align: center;
}
td.mat-cell{
text-align: center;
}