<h5>Introduceti datele personale!</h5>
<mat-dialog-content>
  <form #registerform="ngForm" [formGroup]="firstFormGroup">
    <!--  <mat-error style="text-align: center;">{{this.msg}}</mat-error>-->
    <br>
    <mat-form-field appearance="fill">
      <mat-label>CNP</mat-label>
      <input matInput placeholder="ex. 6001100110000" formControlName="cnp" required
      >
      <mat-error class="error" *ngIf="firstFormGroup.controls['cnp'].hasError('pattern')">
        Introduceti un CNP valid
      </mat-error>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Nume</mat-label>
      <input matInput placeholder="ex. Popescu" formControlName="lastName" required>

    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Prenume</mat-label>
      <input matInput placeholder="ex. Ion" formControlName="firstName" required>

    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input placeholder="exemplu@example.com" matInput formControlName="emailUser" required>
      <mat-error class="error" *ngIf="firstFormGroup.controls['emailUser'].hasError('email')">
        Nu este un email valid
      </mat-error>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Telefon</mat-label>
      <input matInput placeholder="ex. 0766666666" formControlName="numberUser" required>
      <mat-error class="error" *ngIf="firstFormGroup.controls['numberUser'].hasError('pattern')">
        Numarul de telefon nu este valid
      </mat-error>
    </mat-form-field><br>
  </form>
  <mat-form-field appearance="fill">
    <mat-label>Cardiolog</mat-label>
    <mat-select [(ngModel)]="selectedCardio" (ngModelChange)="onCardioChange($event)" name="food" required>
      <mat-option *ngFor="let food of cardiologList" [value]="food.cnp">
        {{food.firstName}} {{food.lastName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="selectedCardio" class="example-full-width">
    <input matInput [min]="tomorrowD" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Alege data dorita" [(ngModel)]="dateP"
      name="dateP" (dateChange)="hourCheck()" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field *ngIf="dateP" appearance="fill">
    <mat-label>Alege ora</mat-label>
    <mat-select [(ngModel)]="hourP" name="hourP" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let hour of hourInterval" [value]="hour">
        {{hour}}
      </mat-option>
    </mat-select>

  </mat-form-field>
  <div style="margin-left: 20%;">
    <mat-checkbox [(ngModel)]="acordGDPR" class="example-margin">Acord GDPR</mat-checkbox>
    <mat-icon class='infoCard' [matTooltip]="tooltipVariable">info_outline</mat-icon>
  </div>
  <br>

  <div [align]="'center'">
    <div class="spinner-container" *ngIf="loading">
    <mat-spinner diameter="24"></mat-spinner>
  </div>
    <button [disabled]="registerform.form.invalid || !acordGDPR" class="button-prog" role="button"
      (click)="addAppointment()">Adaugă o programare</button></div>


</mat-dialog-content>