  <div *ngIf="!this._secretar.existaPacient">
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <mat-dialog-content>
      <form  #registerform="ngForm"  [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Informatii generale</ng-template> 
        <br> 
              <mat-form-field appearance="fill">
                <mat-label>Nume</mat-label>
                <input matInput formControlName="lastName" placeholder="ex. Popescu">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Initiala tatalui</mat-label>
                <input matInput formControlName="dadLetterPatient" placeholder="D.F.">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Prenume</mat-label>
                <input matInput formControlName="firstName" placeholder="ex. Ion">
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>CNP</mat-label>
                <input matInput formControlName="cnp" placeholder="ex. 6001100110000">
                <mat-error class="error" *ngIf="firstFormGroup.controls['cnp'].hasError('pattern')">
                  Introduceti un CNP valid
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Seria buletinului</mat-label>
                <input matInput formControlName="seriesPatient" placeholder="ex. GZ">
                <mat-error class="error" *ngIf="firstFormGroup.controls['seriesPatient'].hasError('pattern')">
                  Introduceti o serie valida
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Numarul seriei</mat-label>
                <input matInput formControlName="numberPatient" placeholder="ex. 717775">
                <mat-error class="error" *ngIf="firstFormGroup.controls['numberPatient'].hasError('pattern')">
                  Numarul seriei trebuie sa aiba 6 caractere
                </mat-error>
              </mat-form-field>
             <br>
              <mat-form-field appearance="fill">
                <mat-label>Telefon</mat-label>
                <input matInput formControlName="numberUser" placeholder="ex. 0766666666">
                <mat-error class="error" *ngIf="firstFormGroup.controls['numberUser'].hasError('pattern')">
                  Numarul de telefon nu este valid
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input formControlName="emailUser" placeholder="pat@example.com" matInput>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Sex</mat-label>
                <mat-select formControlName="sexPatient">
                  <mat-option value="feminin">Feminin</mat-option>
                  <mat-option value="masculin">Masculin</mat-option>
                </mat-select>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Cetatenie</mat-label>
                <input  formControlName="citizenshipPatient" placeholder="pat@example.com" matInput>
              </mat-form-field>
       
        <br>
        <div>
          <button [disabled]="registerform.form.invalid"  class="button-first" mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-dialog-content>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
    <mat-dialog-content>
      <form #secondForm="ngForm"   [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Adresa</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Oras</mat-label>
            <input matInput formControlName="cityPatient" placeholder="ex. Popescu">
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <mat-label>Judet</mat-label>
            <input matInput formControlName="townPatient" placeholder="ex. Popescu">
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <mat-label>Strada</mat-label>
            <input matInput formControlName="streetPatient" placeholder="ex. Ion">
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <mat-label>Numarul</mat-label>
            <input matInput formControlName="noPatient" placeholder="ex. 56A">
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <mat-label>Asezare</mat-label>
            <mat-select formControlName="placePatient">
              <mat-option value="rurala">Rurala</mat-option>
              <mat-option value="urbana">Urbana</mat-option>
            </mat-select>
          </mat-form-field>


        <div class="example-button-row">
          <button [disabled]="secondForm.form.invalid"  class="button-first" color="primary" mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-dialog-content>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <mat-dialog-content>
      <form #thirdForm="ngForm"  [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Alte informatii</ng-template>
  
        <mat-form-field appearance="fill">
          <mat-label>Ocupatia</mat-label>
          <mat-select formControlName="jobTypePatient">
            <mat-option value="faraOcupatie">Fara ocupatie</mat-option>
            <mat-option value="salariat">Salariat</mat-option>
            <mat-option value="contPropriu">Lucrator pe cont propriu</mat-option>
            <mat-option value="patron">Patron</mat-option>
            <mat-option value="agricultor">Agricultor</mat-option>
            <mat-option value="student">Elev/Student</mat-option>
            <mat-option value="somer">Somer</mat-option>
            <mat-option value="pensionar">Pensionar</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Asigurare</mat-label>
          <mat-select formControlName="insurancePatient">
            <mat-option value="cnas">Asigurat CNAS</mat-option>
            <mat-option value="voluntar">Asigurare voluntara</mat-option>
            <mat-option value="neasigurat">Neasigurat</mat-option>
          </mat-select>
        </mat-form-field>
        
        <div class="example-button-row">
          <button [disabled]="thirdForm.form.invalid"  class="button-second-2" color="primary" mat-raised-button matStepperNext (click) = "addPacient()">Next</button>
        </div>
           
      </form>
    </mat-dialog-content>
    </mat-step>
  </mat-horizontal-stepper></div>
  <div *ngIf="this._secretar.existaPacient">
    
    <p style="text-align: center;font-size: 1.2rem;">Exista cont pentru acest pacient!</p>
    <br>
    <div mat-dialog-actions style="margin-top: -3vh;" [align]="'center'">
      <button mat-dialog-close mat-button class="btn" color="primary">
        <mat-icon>
          close
        </mat-icon>
      </button>
    </div>
  </div>