  <div *ngIf="!this._secretar.existaPacient">
    <mat-horizontal-stepper #stepper [linear]="true">
      <mat-step [stepControl]="firstFormGroup" [completed]="false">
        <mat-dialog-content>
          <form #registerform="ngForm" [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Informatii generale</ng-template>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Nume</mat-label>
              <input matInput formControlName="lastName" placeholder="ex. Popescu" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Initiala tatalui</mat-label>
              <input matInput formControlName="dadLetterPatient" placeholder="D.F." required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Prenume</mat-label>
              <input matInput formControlName="firstName" placeholder="ex. Ion" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>CNP</mat-label>
              <input matInput formControlName="cnp" placeholder="ex. 6001100110000" required>
              <mat-error class="error" *ngIf="firstFormGroup.controls['cnp'].hasError('pattern')">
                Introduceti un CNP valid
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Seria buletinului</mat-label>
              <input matInput formControlName="seriesPatient" placeholder="ex. GZ" required>
              <mat-error class="error" *ngIf="firstFormGroup.controls['seriesPatient'].hasError('pattern')">
                Introduceti o serie valida
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Numarul seriei</mat-label>
              <input matInput formControlName="numberPatient" placeholder="ex. 717775" required>
              <mat-error class="error" *ngIf="firstFormGroup.controls['numberPatient'].hasError('pattern')">
                Numarul seriei trebuie sa aiba 6 caractere
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Telefon</mat-label>
              <input matInput formControlName="numberUser" placeholder="ex. 0766666666" required>
              <mat-error class="error" *ngIf="firstFormGroup.controls['numberUser'].hasError('pattern')">
                Numarul de telefon nu este valid
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input formControlName="emailUser" placeholder="pat@example.com" matInput required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Sex</mat-label>
              <mat-select formControlName="sexPatient" required>
                <mat-option value="feminin">Feminin</mat-option>
                <mat-option value="masculin">Masculin</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Cetatenie</mat-label>
              <input formControlName="citizenshipPatient" placeholder="pat@example.com" matInput required>
            </mat-form-field>

            <br>
            <div [align]="'center'">
              <button [disabled]="registerform.form.invalid" class="button-prog" matStepperNext>Next</button>

            </div>
          </form>
        </mat-dialog-content>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
        <mat-dialog-content>
          <form #secondForm="ngForm" [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Adresa</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Oras</mat-label>
              <input matInput formControlName="cityPatient" placeholder="ex. Popescu">
            </mat-form-field><br>
            <mat-form-field appearance="fill">
              <mat-label>Judet</mat-label>
              <input matInput formControlName="townPatient" placeholder="ex. Popescu">
            </mat-form-field><br>
            <mat-form-field appearance="fill">
              <mat-label>Strada</mat-label>
              <input matInput formControlName="streetPatient" placeholder="ex. Ion">
            </mat-form-field><br>
            <mat-form-field appearance="fill">
              <mat-label>Numarul</mat-label>
              <input matInput formControlName="noPatient" placeholder="ex. 56A">
            </mat-form-field><br>
            <mat-form-field appearance="fill">
              <mat-label>Asezare</mat-label>
              <mat-select formControlName="placePatient">
                <mat-option value="rurala">Rurala</mat-option>
                <mat-option value="urbana">Urbana</mat-option>
              </mat-select>
            </mat-form-field>


            <div [align]="'center'">
              <button class="button-prog" [disabled]="secondForm.form.invalid" matStepperNext>Next</button>
            </div>
          </form>
        </mat-dialog-content>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup" [completed]="false">
        <mat-dialog-content>
          <form #thirdForm="ngForm" [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Alte informatii</ng-template>

            <mat-form-field appearance="fill">
              <mat-label>Ocupatia</mat-label>
              <mat-select formControlName="jobTypePatient">
                <mat-option value="faraOcupatie">Fara ocupatie</mat-option>
                <mat-option value="salariat">Salariat</mat-option>
                <mat-option value="contPropriu">Lucrator pe cont propriu</mat-option>
                <mat-option value="patron">Patron</mat-option>
                <mat-option value="agricultor">Agricultor</mat-option>
                <mat-option value="student">Elev/Student</mat-option>
                <mat-option value="somer">Somer</mat-option>
                <mat-option value="pensionar">Pensionar</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Asigurare</mat-label>
              <mat-select formControlName="insurancePatient">
                <mat-option value="cnas">Asigurat CNAS</mat-option>
                <mat-option value="voluntar">Asigurare voluntara</mat-option>
                <mat-option value="neasigurat">Neasigurat</mat-option>
              </mat-select>
            </mat-form-field>

            <div [align]="'center'">
              <button class="button-prog" [disabled]="thirdForm.form.invalid" matStepperNext
                (click)="addPacient()">Save</button>
            </div>

          </form>
        </mat-dialog-content>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

  <div *ngIf="this._secretar.existaPacient">
    <mat-dialog-content>
      <mat-vertical-stepper orientation="vertical">
        <ng-template matStepperIcon="edit" >
          <mat-icon color="red">done</mat-icon>
        </ng-template>
        <mat-step>
          <ng-template matStepLabel>Informații generale despre pacient</ng-template>
          <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
          class="aligned-with-icon"><ins>Nume</ins>: {{oldPacient.firstName}} {{oldPacient.lastName}}</span><br>
        <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
          class="aligned-with-icon"><ins>Email</ins>: {{oldPacient.emailUser}}</span><br>
        <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
          class="aligned-with-icon"><ins>Telefon</ins>: {{oldPacient.numberUser}}</span><br>
          <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
            class="aligned-with-icon"><ins>CNP</ins>: {{oldPacient.cnp}}</span><br>
          <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
            class="aligned-with-icon"><ins>Seria</ins>: {{oldPacient.seriesPatient}}, nr.
            {{oldPacient.numberPatient}}</span><br>
          <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
            class="aligned-with-icon"><ins>Cetățenie</ins>: {{oldPacient.citizenshipPatient}}</span><br>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Informații despre adresă</ng-template>
          <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
          class="aligned-with-icon"><ins>Oraș</ins>: {{oldPacient.cityPatient}}</span><br>
        <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
          class="aligned-with-icon"><ins>Județ</ins>: {{oldPacient.townPatient}}</span><br>
        <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
          class="aligned-with-icon"><ins>Stradă</ins>: {{oldPacient.streetPatient}}</span><br>
          <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
            class="aligned-with-icon"><ins>Număr</ins>: {{oldPacient.noPatient}}</span><br>
          <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
            class="aligned-with-icon"><ins>Așezare</ins>: {{oldPacient.placePatient}}
          </span><br>    
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Alte informații</ng-template>
          <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
          class="aligned-with-icon"><ins>Starea jobului</ins>: {{oldPacient.jobTypePatient}}</span><br>
        <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
          class="aligned-with-icon"><ins>Asigurare</ins>: {{oldPacient.insurancePatient}}</span><br>
      
        <br>    
        </mat-step>
      </mat-vertical-stepper>
    </mat-dialog-content>
    <div mat-dialog-actions [align]="'center'">
    <button class="button-prog" role="button" (click)= "editPacient()">Editează</button>
  </div>
  </div>