<section id="team">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2>Consultațiile din această zi</h2>
      </div>
    </div>
    <div class="row" *ngIf="listAppointmentsHema">
      <div class="col-lg-3" *ngFor="let appointment of listAppointmentsHema">
        <div class="member">

          <div class="member-img">
            <h4 style="text-align: center;"><ins><b>{{appointment.hourAppointmentHematology}}</b></ins> </h4>
            <span style="margin-left: 2rem; font-size: 16px;"><b>Pacient: </b>{{appointment.patient.firstName}}
              {{appointment.patient.lastName}}</span><br>
            <mat-icon class="icon-display" *ngIf="appointment.acid_uric" matListIcon inline=true>fiber_manual_record
            </mat-icon><span class="aligned-with-icon" *ngIf="appointment.acid_uric">Acid uric</span>
            <mat-icon class="icon-display" *ngIf="appointment.hemoleucograma_completa" matListIcon inline=true>fiber_manual_record
            </mat-icon><span class="aligned-with-icon" *ngIf="appointment.hemoleucograma_completa">Hemoleucograma completa</span>
            <mat-icon class="icon-display" *ngIf="appointment.calciu_ionic_seric" matListIcon inline=true>
              fiber_manual_record</mat-icon><span class="aligned-with-icon"
              *ngIf="appointment.calciu_ionic_seric">Calciu ionic<br></span>
            <mat-icon class="icon-display" *ngIf="appointment.calciu_seric_total" matListIcon inline=true>
              fiber_manual_record</mat-icon><span class="aligned-with-icon"
              *ngIf="appointment.calciu_seric_total">Calciu seric <br></span>
            <mat-icon class="icon-display" *ngIf="appointment.colesterol_seric_total" matListIcon inline=true>
              fiber_manual_record</mat-icon><span class="aligned-with-icon"
              *ngIf="appointment.colesterol_seric_total">Colesterol seric<br></span>
            <mat-icon class="icon-display" *ngIf="appointment.creatina_serica" matListIcon inline=true>
              fiber_manual_record</mat-icon><span class="aligned-with-icon" *ngIf="appointment.creatina_serica">Creatina
              serica<br></span>
            <mat-icon class="icon-display" *ngIf="appointment.ldl_colesterol" matListIcon inline=true>
              fiber_manual_record</mat-icon><span class="aligned-with-icon" *ngIf="appointment.ldl_colesterol">LDL
              colesterol<br></span>
            <mat-icon class="icon-display" *ngIf="appointment.magneziu_seric" matListIcon inline=true>
              fiber_manual_record</mat-icon><span class="aligned-with-icon" *ngIf="appointment.magneziu_seric">Magneziu
              seric<br></span>
            <mat-icon class="icon-display" *ngIf="appointment.trigliceride_serice" matListIcon inline=true>
              fiber_manual_record</mat-icon><span class="aligned-with-icon"
              *ngIf="appointment.trigliceride_serice">Trigliceride serice<br></span>
            <mat-icon class="icon-display" *ngIf="appointment.uree_serica" matListIcon inline=true>fiber_manual_record
            </mat-icon><span class="aligned-with-icon" *ngIf="appointment.uree_serica">Uree serica<br></span>
            <mat-icon class="icon-display" *ngIf="appointment.potasiu_seric" matListIcon inline=true>fiber_manual_record
            </mat-icon><span class="aligned-with-icon" *ngIf="appointment.potasiu_seric">Potasiu seric<br></span>
            <mat-icon class="icon-display" *ngIf="appointment.inr_cu_interpretare" matListIcon inline=true>
              fiber_manual_record</mat-icon><span class="aligned-with-icon"
              *ngIf="appointment.inr_cu_interpretare">INR<br></span>
            <mat-icon class="icon-display" *ngIf="appointment.t3" matListIcon inline=true>fiber_manual_record</mat-icon>
            <span class="aligned-with-icon" *ngIf="appointment.t3">T3<br></span>
            <mat-icon class="icon-display" *ngIf="appointment.t4" matListIcon inline=true>fiber_manual_record</mat-icon>
            <span class="aligned-with-icon" *ngIf="appointment.t4">T4<br></span>
            <mat-icon class="icon-display" *ngIf="appointment.tgo" matListIcon inline=true>fiber_manual_record
            </mat-icon><span class="aligned-with-icon" *ngIf="appointment.tgo">TGO<br></span>
            <mat-icon class="icon-display" *ngIf="appointment.tgp" matListIcon inline=true>fiber_manual_record
            </mat-icon><span class="aligned-with-icon" *ngIf="appointment.tgp">TGP<br></span>
            <mat-icon class="icon-display" *ngIf="appointment.tsh" matListIcon inline=true>fiber_manual_record
            </mat-icon><span class="aligned-with-icon" *ngIf="appointment.tsh">TSH<br></span>
            <br>
      
          
        </div><button  class="button-prog" role="button"
            (click)="appointmentDone(appointment.id)">Done</button>
          </div>
      </div>
    </div>
    <div *ngIf="!listAppointmentsHema" class="free-day">
      <p>Nu aveți programată nicio consultație azi!</p>
      <img style="width: 30%; height: 30%" src="/assets/freeDay.png">
    </div>
  </div>
</section>
