<p>change-image works!</p>
<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-card style="margin: 50px 0;">
            <div class="change-avatar">
                <mat-error class="alert alert-primary">{{status}}</mat-error>
                <br>
                <app-upload-img (giveURLtoCreate)="uploadAvatar($event)"> </app-upload-img>
                <form class="change-avatar" (ngSubmit)="onSubmit()">
                    <button>Save</button>
                </form>
            </div>
            </mat-card>
        </div>
    </div>
</div>