<div class="d-flex align-items-center">
  <div class="form-control format-login">
    <br>
    <h3>Login</h3>
    <form #loginform="ngForm" (ngSubmit)="doLoginUser()">
      <small class="alert-danger">{{message}}</small>
      <br>
      <small class="alert-danger"></small>
      <div class="form-group">
        <input type="text" class="form-control inputformat" placeholder="CNP" name="text" [(ngModel)]="user.username" required pattern="^[1-9]\d{2}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[01])(0[1-9]|[1-4]\d|5[0-2]|99)(00[1-9]|0[1-9]\d|[1-9]\d\d)\d$"
        #username="ngModel"  [ngClass]="error?'is-invalid':''"  [class.is-invalid]="username.invalid && username.touched"  >
          <div *ngIf="username.errors && (username.invalid && username.touched)">
            <small class="text-danger" *ngIf="username.errors.required">CNP is a required field</small  >
            <small class="text-danger" *ngIf="username.errors.pattern">Enter the valid CNP</small>
          </div>
      </div>
      <br>
      <div class="form-group">
        <input matInput [type]="showPassword ? 'text' : 'password'"  class="form-control" id="login-password" placeholder="Password" name="password" [(ngModel)]="user.password" required #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched">
        <mat-icon matSuffix (click)="togglePasswordVisibility()" id="login-eye">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Please introduce your password</small>
      </div>
      <br>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" style="text-align: center;"
          [disabled]="isNotValid()">Login</button>
      </div>
      <br>
    </form>
  </div>
</div>