<div class="d-flex align-items-center">
  <div class="form-control format-login">
    <br>
    <h3>Login</h3>
    <form #loginform ="ngForm" (ngSubmit)="loginDoctor()">
      <br>
      <small class="alert-danger"></small>
      <div class="form-group">
        <input type="number" class="form-control inputformat" placeholder="Enter your cnp"
          name="number" [(ngModel)]="user.cnp">
      </div>
      <br>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="user.password">
       
      </div>
      <br>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" style="text-align: center;">Login</button>
      </div>
      <br>
    </form>
  </div>
</div>