h5{
    font-family: 'Roboto', sans-serif;
    text-align: center;
   
}
.icon-display {
    transform: scale(0.5);

    vertical-align:middle;
  }
  div {
    margin-bottom: 10px;
  }
  label {
    display: inline-block;
    width: 250px;
    color: #777777;
  }
  input {
    padding: 3px 5px;
  }
  form div{
      width: 100%;
  }
  .button-prog {
    background: #EE6F57;
    border-radius: 999px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 18px;
    border: 0;
    margin-left: 35%;
  }
  mat-dialog-content{
    height: 40vh;
}
    /*scroll bar*/
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ededf0; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(59, 195, 251); 
    border-radius: 10px;
}
