
.bg-img{
  background-image: url('/assets/dashboard/background.png');
  background-size: cover;

  width: 99.1%;
  height: 100%;
  top: 5;
  left: 0;
  z-index: -1;
  position: fixed;
}
.button-prog {
  background: rgb(239, 13, 80, 0.7);
  border-radius: 999px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  margin-top: 5px;
  padding: 8px 18px;

  border: 0;
}


.banner{
  padding: 80px 0 100px;
}
.banner-content h1{
  font-size: 85px;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #EF0D50;

}
.banner-content p{
  color: black;
  font-size: 16px;
  line-height: 24px;
  opacity: .7;
  margin-top: 15px;
  width: 500px;
}
/*
.banner-content ul{
  padding: 0;
  margin: 40px 0 0;
}
.banner-content ul li{
  display: inline-block;
  width: 140px;
}
.banner-content ul li h2{
  margin-bottom: .5rem;
  font-weight: 700;
  line-height: 1.1px;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
}
.banner-content ul li p{
  font-size: 15px;
  opacity: .6;
  font-weight: 600;
}*/
/* Our team */
#team {
  padding: 60px 0;
  text-align: center;
  background-color: white;

}
#team h2 {
  position: relative;
  padding: 0px 0px 15px;
}
#team p {
  font-size: 15px;
  font-style: italic;

  margin: 20px 0px 40px;
}
#team h2::after {
  content: '';
  border-bottom: 2px solid #fff;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 90px;
  margin: 0 auto;
  display: block;
}
#team .member {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  padding: 10px;

  border-radius: 15px 0px 15px 0px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
}

#team .member img {
  border-radius: 15px 0px 15px 0px;
  width: 17rem;
  height: 17rem;

}
#team .member .member-info {
  display: block;
  position: absolute;
  bottom: 0px;
  left: -200px;
  transition: 0.4s;
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.7);
}
#team .member:hover .member-info {
  left: 0px;
  right: 0px;
}
#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}
#team .member span {
  font-style: italic;
  display: block;
  color: #fff;
  font-size: 13px;
}

