<!--
<h1>Medical Clinic App</h1>
<br>
<h3>
    <b>Medical Clinic </b> este o aplicatie care îți sta la dispoziție în orice moment. 
    <br>Prin intermediul acesteia ai ocazia să îți programezi o consultație cardiologică, dar și să îți vezi rezultatele investigațiilor.
</h3>
<br>
<br>
<div [align]="'center'">
<button mat-raised-button class="primary" (click) ="openAppointmentDialog()">Adauga o programare</button></div>-->
<div class="bg-img">
  <div class="bgPosition" [class.bg]="bgVariable">
    <!--<img src="/assets/dashboard/dashboard1.jpg">-->
  </div>
</div>
<section class="banner">
  <div class="container">
    <div class="banner-content">
      <h1>
        Your Heart Clinic
      </h1>
      <p><i>"Fiecare om este autorul propriei sale sănătăți sau boli" </i><b>- Buddha</b></p>
      <button class="button-prog" role="button" (click) ="openAppointmentDialog()">Adaugă o programare</button>
    </div>
  </div>
</section>

<section id="team">
  <div class="container">

      <div class="row justify-content-center">
        <div class="col-md-8">
          <p>Ai probleme cardiace sau îți dorești să îți faci doar un control de rutină? <i style="color:#EE6F57;">Your Heart Clinic</i> vine în ajutorul tău. 
          Dispunem de echipament pentru depistarea, diagnosticarea și tratarea oricărei afecțiuni de cardiologice.</p>
        </div>
          <div class="col-md-8">
            <h2>Cine suntem?</h2>
            <p>Suntem o echipă dornică de a-ți răspunde la toate curiozitățile tale legate de problemele cardiologice care pot apărea, dar și de a îți pune la dispoziție servicii de calitate pentru investigații mai amănunțite.
        
            </p>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-3" *ngFor="let cardio of listUsers">
              <div class="member">
                <div class="member-img">
                    <img [attr.src]="cardio?.imageUser" class="img-fluid" alt="">
                </div>
                  <div class="member-info">
                      <h4>{{cardio?.firstName}} {{cardio?.lastName}}</h4>
                      <span>{{cardio?.role}}</span>
                     
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
