<!--
<h1>Medical Clinic App</h1>
<br>
<h3>
    <b>Medical Clinic </b> este o aplicatie care îți sta la dispoziție în orice moment. 
    <br>Prin intermediul acesteia ai ocazia să îți programezi o consultație cardiologică, dar și să îți vezi rezultatele investigațiilor.
</h3>
<br>
<br>
<div [align]="'center'">
<button mat-raised-button class="primary" (click) ="openAppointmentDialog()">Adauga o programare</button></div>-->
<div class="bg-img">
  <div class="bgPosition" [class.bg]="bgVariable">
    <!--<img src="/assets/dashboard/dashboard1.jpg">-->
  </div>
</div>
<section class="banner">
  <div class="container">
    <div class="banner-content">
      <h1>
        Your Heart Clinic
      </h1>
      <p><i>"Fiecare om este autorul propriei sale sănătăți sau boli" </i><b>- Buddha</b></p>
      <ul>
        <li>
          <h2>Seriozitate</h2>
          
        </li>
        <li>
          <h2>Accebilitate</h2>
       
        </li>
        <li>
          <h2>Calitate</h2>
  
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="gallery">
  <div class="container">
    <div class="gallery-container">
      <p>Ai probleme cardiace sau îți dorești să îți faci doar un control de rutină? <i style="color:#EF0D50;">Your Heart Clinic</i> vine în ajutorul tău. Noi suntem o echipă dornică de a îți răspunde la toate curiozitățile tale legate de problemele cardiologice care pot apărea, dar și de a îți pune la dispoziție servicii de calitate pentru investigații mai amănunțite.</p>
      <br>
      <h2><span>Echipa noastra</span></h2>
      <div class="row">
        
        <div class="col-md-4" *ngFor="let appointment of listDoctors">
          <img src="/assets/dashboard/dashboard2.jpeg">
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        </div>
        <div class="col-md-6">
          <img src="/assets/dashboard/dashboard3.jpg">
        </div>
      </div>
    </div>
  </div>
</section>