
.bg-img{
  background-image: url('/assets/dashboard/background10.jpg');
  background-size: cover;

  width: 98.9%;
  height: 100%;
  top: 5;
  left: 0;
  z-index: -1;
  position: fixed;
}



.banner{
  padding: 80px 0 100px;
}
.banner-content h1{
  font-family: 'Roboto', sans-serif;
  z-index: -1;
  position: fixed;
  font-size: 85px;
  font-weight: 600;
  
  margin-top: -1vh;
  margin-left: -1vw;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ededf0;

}
.banner-content p{
  font-family: 'Roboto', sans-serif;
  z-index: -1;
  position: fixed;
  color: black;
  font-size: 16px;
  line-height: 24px;
  opacity: .7;
  margin-top: 15vh;
  margin-left: -1vw;
  width: 560px;
}
/*
.banner-content ul{
  padding: 0;
  margin: 40px 0 0;
}
.banner-content ul li{
  display: inline-block;
  width: 140px;
}
.banner-content ul li h2{
  margin-bottom: .5rem;
  font-weight: 700;
  line-height: 1.1px;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
}
.banner-content ul li p{
  font-size: 15px;
  opacity: .6;
  font-weight: 600;
}*/
/* Our team */
#team {
  padding: 60px 0;
  margin-top: 25vh;
  text-align: center;
  background-color: #ededf0;
  
}
#team h2 {
  position: relative;
  font-family: 'Roboto', sans-serif;
  padding: 0px 0px 15px;
}
#team p {
  font-size: 15px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  margin: 20px 0px 40px;
}
#team h2::after {
  content: '';
  border-bottom: 2px solid #EE6F57;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 90px;
  margin: 0 auto;
  display: block;
}
#team .member {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  background-color: #ededf0;
  padding: 10px;

  border-radius: 15px 0px 15px 0px;
  box-shadow: 0px 1px 6px 0px rgb(238, 111, 87, 0.4);
}

#team .member img {
  border-radius: 15px 0px 15px 0px;
  width: 17rem;
  height: 17rem;

}
#team .member .member-info {
  font-family: 'Roboto', sans-serif;
  display: block;
  position: absolute;
  bottom: 0px;
  left: -200px;
  transition: 0.4s;
  padding: 15px 0;
  background: rgba(5,55,106,0.7);
}
#team .member:hover .member-info {
  font-family: 'Roboto', sans-serif;
  left: 0px;
  right: 0px;
}
#team .member h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #ededf0;
}

#team .member span {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  display: block;
  color: #ededf0;
  font-size: 13px;
}

.button-prog {
  background: #EE6F57;
  border-radius: 999px;
  box-sizing: border-box;
  color: #ededf0;
  cursor: pointer;
  font-size: 16px;
  margin-top: 21vh;
  margin-left: -1vw;
  padding: 8px 18px;
  border: 0;
  z-index: -1;
  position: fixed;
}