#team {
  padding: 60px 0;

  background-color: #ededf0;

}

#team h2 {
  position: relative;
  font-family: 'Roboto', sans-serif;
  padding: 0px 0px 8px;
  text-align: center;
  font-size: 3vh;
}

#team h2::after {
  content: '';
  border-bottom: 2px solid #EE6F57;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 90px;
  margin: 0 auto;
  display: block;
}

#team .member {
  margin-bottom: 20px;
  position: relative;

  background-color: white;
  padding: 10px;
  margin-top: 5vh;
  border-radius: 15px 0px 15px 0px;
  box-shadow: 0px 1px 6px 0px rgba(5, 55, 106, 1);
}

#team .member:hover {
  margin-bottom: 20px;
  position: relative;

  background-color: white;
  padding: 10px;
  margin-top: 5vh;
  border-radius: 15px 0px 15px 0px;
  box-shadow: 0px 1px 6px 0px rgb(59, 195, 251);
}

#team .member h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
  color: #EE6F57;
}

#team .member span {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: rgba(5, 55, 106, 1);
  font-size: 13px;
}

.button-prog {
  background: #EE6F57;
  border-radius: 999px;
  box-sizing: border-box;
  color: #ededf0;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 23px;
  border: 0;
  margin-top: 2vh;
  position: relative;
}

h5 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.cardiolog {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}