<section id="team">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h2>Home</h2>
        </div>
      </div>
      <div [align]="'center'">
        <button class="button-prog" role="button" (click)="addAppointment()">Adaugă consultație</button>
      </div>

      <div class="row" >
        <div class="col-lg-3">
          <div class="member">
  
            <div class="member-img">
              Ana are mere
  
           
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </section>
  