<section id="team">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h2>Home</h2>
        </div>
      </div>
      <div [align]="'center'">
        <button class="button-prog" role="button" (click)="addAppointment()">Adaugă consultație</button>
      </div>

      <div class="row" >
        <div class="col-lg-3">
          <div class="member">
                <h5>Consultație viitoare  </h5>
                <p class="cardiolog">Cardiolog: {{cardiologName}}</p>
                <div class="coundown d-flex justify-content-between align-items-baseline">
                    <p>Days</p>
                    <p class="ml-2 mr-2">Hours</p>
                    <p>Minu</p>
                    <p class="ml-2">Sec</p>
                </div>
                <div class="coundown d-flex justify-content-between align-items-baseline">
                    <p id="days"></p>
                    <p id="hours"></p>
                    <p id="mins"></p>
                    <p id="seconds"></p>
                </div>
          </div>
        </div>
      </div>
     
    </div>
  </section>
  