mat-form-field {
    width: 100%;;
}
h3, mat-label, mat-error{
    font-family: 'Roboto', sans-serif;
}
h3{
text-align: center;
}
.button-prog {
    background: #EE6F57;
    border-radius: 999px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 18px;
    border: 0;
    
  position: relative;
  }
    /*Input color*/
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #EE6F57 !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #EE6F57 !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #EE6F57 !important;;
  }
    /*Input color*/
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #EE6F57 !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #EE6F57 !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #EE6F57 !important;;
  }
  /*checkbox*/
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #EE6F57;
  }
    /*scroll bar*/
  /* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ededf0; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(59, 195, 251); 
    border-radius: 10px;
}
mat-spinner {
    position: absolute;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  