<section id="team">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2>Consultațiile din această zi</h2>
      </div>
    </div>
    <div class="row" *ngIf="listAppointmentsSpecific">
      <div class="col-lg-3" *ngFor="let appointment of listAppointmentsSpecific">
        <div class="member">

          <div class="member-img">
            <h4 style="text-align: center;"><ins><b>{{appointment.hour}}</b></ins> </h4>
            <span style="margin-left: 2rem ;"><b>CNP: </b>{{appointment.cnp}}</span><br>
            <span style="margin-left: 2rem ;"><b>Prenume: </b> {{appointment.firstName}}</span><br>
            <span style="margin-left: 2rem ;"><b>Nume: </b> {{appointment.lastName}}</span><br>
            <br>
            <span style="margin-left: 2rem ;"><b>Email: </b>{{appointment.emailUser}}</span><br>
            <span style="margin-left: 2rem ;"><b>Telefon: </b>{{appointment.numberUser}}</span><br>
            <br>

            <div [align]="'center'">
              <button class="button-prog" (click)="readMoreDialog(appointment.cnp)">Detalii </button>
              <button class="button-prog-2" (click)="openAppointmentDialog(appointment.patient)">Adaugă consultație</button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!listAppointmentsSpecific" class="free-day">
    <p >Nu aveți programată nicio consultație azi!</p>
  <img style="width: 30%; height: 30%" src="/assets/freeDay.png">
</div>
  </div>
</section>
