<mat-toolbar>

  <button mat-icon-button *ngIf="sidenav.mode === 'over' && _service.loggedIn()" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  <img class="logo" src="/assets/logo.png" alt="image">
  <div *ngIf="_router.url == '/login' " (click)="goDashboard()">Your Heart Clinic</div>
  <div *ngIf="_router.url != '/login' ">Your Heart Clinic</div>
  <div style="margin-left: auto; margin-right: 1vw;">
    <mat-icon *ngIf="(_service.loggedIn())" (click)="_service.logoutUser()">exit_to_app</mat-icon>
    <button class="button-prog" role="button"  *ngIf="(!_service.loggedIn()) && _router.url != '/login'" (click)="_service.logInUser()">Log In</button></div>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <div *ngIf="(_service.loggedIn() && _service.getRole().toUpperCase() == 'MODERATOR')">
      <img class="avatar mat-elevation-z8" [src]="userPhoto()" />
      <p class="nume">{{nameItem}}</p>
      <p class="role">{{roleItem}}</p>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" [matMenuTriggerFor]="menu" >
        <mat-icon>people</mat-icon>
        <span>Setări profil</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openChangePhotoDialog()">
          <mat-icon>image_search</mat-icon>
          <span>Poză nouă</span>
        </button>
        <div mat-dialog-actions [align]="'center' ">
          <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
        <button mat-menu-item (click)="deleteImg()">
          <mat-icon>no_photography</mat-icon>
          <span>Șterge poză</span>
        </button>
        </div>
        <button mat-menu-item (click)="openDialog()">
          <mat-icon>lock_reset</mat-icon>
          <span>Resetare parolă</span>
        </button>
      </mat-menu>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" (click)="_moderator.seeEmployee()">
        <mat-icon>people</mat-icon>
        <span>Angajati</span>
      </button>
      <button mat-button class="menu-button" (click)="_moderator.seeProgramari()">
        <mat-icon>people</mat-icon>
        <span>Consultații</span>
      </button>
      <button mat-button class="menu-button" (click)="_moderator.seeProgramariHema()">
        <mat-icon>people</mat-icon>
        <span>Programari hematologie</span>
      </button>
      <button mat-button class="menu-button" (click)="_moderator.seeProgramariRadio()">
        <mat-icon>people</mat-icon>
        <span>Programari radiologie</span>
      </button>
     <!-- <button mat-button class="menu-button" (click)="_moderator.seeCurant()">
        <mat-icon>people</mat-icon>
        <span>Cardiologi</span>
      </button>
      <button mat-button class="menu-button" (click)="_moderator.seeSecretaries()">
        <mat-icon>people</mat-icon>
        <span>Secretari</span>
      </button>
      <button mat-button class="menu-button" (click)="_moderator.seeImagist()">
        <mat-icon>people</mat-icon>
        <span>Imagisti</span>
      </button>
      <button mat-button class="menu-button" (click)="_moderator.seeHematolog()">
        <mat-icon>people</mat-icon>
        <span>Hematologi</span>
      </button>-->
     
     
      </div>

    <div *ngIf="(_service.loggedIn() && _service.getRole().toUpperCase() == 'SECRETAR')">
      <img class="avatar mat-elevation-z8" [src]="userPhoto()" />
      <p class="nume">{{nameItem}}</p>
      <p class="role">{{roleItem}}</p>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" [matMenuTriggerFor]="menu" >
        <mat-icon>people</mat-icon>
        <span>Setări profil</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openChangePhotoDialog()">
          <mat-icon>image_search</mat-icon>
          <span>Poză nouă</span>
        </button>
        <div mat-dialog-actions [align]="'center' ">
          <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
        <button mat-menu-item (click)="deleteImg()">
          <mat-icon>no_photography</mat-icon>
          <span>Șterge poză</span>
        </button>
        </div>
        <button mat-menu-item (click)="openDialog()">
          <mat-icon>lock_reset</mat-icon>
          <span>Resetare parolă</span>
        </button>
      </mat-menu>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" (click)="_secretar.seeInternari()">
        <mat-icon>people</mat-icon>
        <span>Programari curente</span>
      </button>
      <button mat-button class="menu-button" (click)="_secretar.seePacient()">
        <mat-icon>people</mat-icon>
        <span>Programari viitoare</span>
      </button>
      <button mat-button class="menu-button" (click)="_secretar.seeAll()">
        <mat-icon>people</mat-icon>
        <span>Toate programările</span>
      </button>
    </div>


    <div *ngIf="(_service.loggedIn() && _service.getRole().toUpperCase() == 'CARDIOLOG')">
      <img class="avatar mat-elevation-z8" [src]="userPhoto()" />
      <p class="nume">{{nameItem}}</p>
      <p class="role">{{roleItem}}</p>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" [matMenuTriggerFor]="menu" >
        <mat-icon>people</mat-icon>
        <span>Setări profil</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openChangePhotoDialog()">
          <mat-icon>image_search</mat-icon>
          <span>Poză nouă</span>
        </button>
        <div mat-dialog-actions [align]="'center' ">
          <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
        <button mat-menu-item (click)="deleteImg()">
          <mat-icon>no_photography</mat-icon>
          <span>Șterge poză</span>
        </button>
        </div>
        <button mat-menu-item (click)="openDialog()">
          <mat-icon>lock_reset</mat-icon>
          <span>Resetare parolă</span>
        </button>
      </mat-menu>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" (click)="_doctor.seeProgramari()">
        <mat-icon>people</mat-icon>
        <span>Consultatii curente</span>
      </button>
      <button mat-button class="menu-button" (click)="_doctor.seeFutureProgramari()">
        <mat-icon>people</mat-icon>
        <span>Consultatii viitoare</span>
      </button>
      <button mat-button class="menu-button" (click)="_doctor.seeAllProgramari()">
        <mat-icon>people</mat-icon>
        <span>Toate consultațiile</span>
      </button>
    
    </div>
    <div *ngIf="(_service.loggedIn() && _service.getRole().toUpperCase() == 'HEMATOLOG')">
      <button mat-button class="menu-button">
        <mat-icon>people</mat-icon>
        <span>Programari</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" (click)="openDialog()">
        <mat-icon>lock_reset</mat-icon>
        <span>Resetare parola</span>
      </button>
    </div>

  </mat-sidenav>
  <router-outlet></router-outlet>

</mat-sidenav-container>
