<h5 style="text-align: center; "><b>{{hospitalizationInfo?.patient.firstName}} {{hospitalizationInfo?.patient.dadLetterPatient}} {{hospitalizationInfo?.patient.lastName}}</b></h5>
<div>
    <p><i>Date contact</i></p>
    <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
      class="aligned-with-icon">Telefon: {{hospitalizationInfo?.patient.numberUser}}</span><br>
    <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
      class="aligned-with-icon">Email: {{hospitalizationInfo?.patient.emailUser}}</span><br>
  </div>
<br>
<div>
  <p><i>Informatii despre internare</i></p>
  <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
    class="aligned-with-icon">Medic curant: {{hospitalizationInfo?.cardiolog.lastName}} {{hospitalizationInfo?.cardiolog.firstName}} </span><br>
  <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
    class="aligned-with-icon">Data internarii: {{hospitalizationInfo?.startDateHospitalization.split(" ")[0]}}</span><br>
  <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
    class="aligned-with-icon">Ora internarii: {{hospitalizationInfo?.startDateHospitalization.split(" ")[1]}}</span><br>
 <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
    class="aligned-with-icon">Data externarii: {{dataEnd}}</span><br>
  <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
    class="aligned-with-icon">Ora externarii: {{oraEnd}}</span><br>
  <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
    class="aligned-with-icon">Numar de zile spitalizare: {{nrH}}</span>
</div>
<br>
<div>
    <p><i>Informatii despre patient</i></p>
    <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
      class="aligned-with-icon">CNP: {{hospitalizationInfo?.patient.cnp}}</span><br>
    <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
      class="aligned-with-icon">Seria: {{hospitalizationInfo?.patient.seriesPatient}}, nr. {{hospitalizationInfo?.patient.numberPatient}}</span><br>
    <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
      class="aligned-with-icon">Adresa: str. {{hospitalizationInfo?.patient.streetPatient}}, nr. {{hospitalizationInfo?.patient.noPatient}}, loc. {{hospitalizationInfo?.patient.cityPatient}}, jud.  {{hospitalizationInfo?.patient.townPatient}}, mediul  {{hospitalizationInfo?.patient.placePatient}}</span><br>
    <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
      class="aligned-with-icon">Cetatenie: {{hospitalizationInfo?.patient.citizenshipPatient}}</span><br>

      <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
      class="aligned-with-icon">Stare job: {{hospitalizationInfo?.patient.jobPatient}}</span><br>
    <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
      class="aligned-with-icon">Grupa sange: {{grupaSange}}, RH {{rhSange}}</span><br>
    <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
      class="aligned-with-icon">Asigurare: {{asigurare}}</span><br>
    <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
      class="aligned-with-icon">Alergii: {{hospitalizationInfo?.patient.allergyPatient}}</span><br>
  </div>