<h5 style="text-align: center; "><b>{{fisaInfo?.patient.firstName}} {{fisaInfo?.patient.dadLetterPatient}}
    {{fisaInfo?.patient.lastName}}</b></h5>

<mat-dialog-content>
  <mat-vertical-stepper orientation="vertical">
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step>
      <ng-template matStepLabel>Informatii generale despre pacient</ng-template>
      <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
        class="aligned-with-icon"><ins>CNP</ins>: {{fisaInfo?.patient.cnp}}</span><br>
      <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
        class="aligned-with-icon"><ins>Seria</ins>: {{fisaInfo?.patient.seriesPatient}}, nr.
        {{fisaInfo?.patient.numberPatient}}</span><br>
      <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
        class="aligned-with-icon"><ins>Cetatenie</ins>: {{fisaInfo?.patient.citizenshipPatient}}</span><br>
      <mat-icon *ngIf="fisaInfo?.allergyPatient" class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon>
      <span *ngIf="fisaInfo?.allergyPatient"
        class="aligned-with-icon"><ins>Alergii</ins>: {{fisaInfo?.allergyPatient}}<br></span>

      <mat-icon *ngIf="fisaInfo?.bloodTypePatient" class="icon-display" matListIcon inline=true>fiber_manual_record
      </mat-icon><span *ngIf="fisaInfo?.bloodTypePatient" class="aligned-with-icon"> <ins>Grupa de sange</ins>:
        {{fisaInfo?.bloodTypePatient}}, Rh: {{fisaInfo?.rhPatient}}<br></span>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Anamneza</ng-template>
      <mat-icon *ngIf="fisaInfo?.familyHistory" class="icon-display" matListIcon inline=true>fiber_manual_record
      </mat-icon><span *ngIf="fisaInfo?.familyHistory" class="aligned-with-icon"><ins>Istoric medical</ins>:
        {{fisaInfo?.familyHistory}} <br></span>
      <mat-icon *ngIf="fisaInfo?.personalHistory" class="icon-display" matListIcon inline=true>fiber_manual_record
      </mat-icon><span *ngIf="fisaInfo?.personalHistory" class="aligned-with-icon"><ins>Antecendente personale,
          fiziologice si patologice</ins>:
        {{fisaInfo?.personalHistory}}<br></span>
      <mat-icon *ngIf="fisaInfo?.lifeAndWorkConditional" class="icon-display" matListIcon inline=true>
        fiber_manual_record</mat-icon><span *ngIf="fisaInfo?.lifeAndWorkConditional"
        class="aligned-with-icon"><ins>Conditii de viata si munca</ins>:
        {{fisaInfo?.lifeAndWorkConditional}}<br></span>
      <mat-icon *ngIf="fisaInfo?.behavior" class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon>
      <span *ngIf="fisaInfo?.behavior" class="aligned-with-icon"><ins>Comportament (fumator, alooclic)</ins>:
        {{fisaInfo?.behavior}}<br></span>
      <mat-icon *ngIf="fisaInfo?.pillsHistory" class="icon-display" matListIcon inline=true>fiber_manual_record
      </mat-icon><span *ngIf="fisaInfo?.pillsHistory" class="aligned-with-icon"><ins>Medicatie</ins>:
        {{fisaInfo?.pillsHistory}}<br></span>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Examen obiectiv</ng-template>
      <mat-icon *ngIf="fisaInfo?.generalCondition" class="icon-display" matListIcon inline=true>fiber_manual_record
      </mat-icon><span *ngIf="fisaInfo?.generalCondition" class="aligned-with-icon"><ins>Stare generala</ins>:
        {{fisaInfo?.generalCondition}} <br></span>
      <mat-icon *ngIf="fisaInfo?.waist" class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon>
      <span *ngIf="fisaInfo?.waist" class="aligned-with-icon"><ins>Greutate</ins>:
        {{fisaInfo?.waist}}<br></span>
      <mat-icon *ngIf="fisaInfo?.weight" class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon>
      <span *ngIf="fisaInfo?.weight" class="aligned-with-icon"><ins>Talie</ins>:
        {{fisaInfo?.weight}}<br></span>
      <mat-icon *ngIf="fisaInfo?.nutritionalStatus" class="icon-display" matListIcon inline=true>fiber_manual_record
      </mat-icon><span *ngIf="fisaInfo?.nutritionalStatus" class="aligned-with-icon"><ins>Starea de nutritie</ins>:
        {{fisaInfo?.nutritionalStatus}}<br></span>
      <mat-icon *ngIf="fisaInfo?.ganglionSystem" class="icon-display" matListIcon inline=true>fiber_manual_record
      </mat-icon><span *ngIf="fisaInfo?.ganglionSystem" class="aligned-with-icon"><ins>Sistemul ganglionar</ins>:
        {{fisaInfo?.ganglionSystem}}<br></span>
      <mat-icon *ngIf="fisaInfo?.connectiveTissue" class="icon-display" matListIcon inline=true>fiber_manual_record
      </mat-icon><span *ngIf="fisaInfo?.connectiveTissue" class="aligned-with-icon"><ins>Tesutul conjunctiv</ins>:
        {{fisaInfo?.connectiveTissue}}<br></span>

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Aparatul cardivascular</ng-template>
      <span class="aligned-with-icon"> {{fisaInfo?.cardiovascularSystem}}</span><br>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Rezultate hematologie</ng-template>
      <ng-container  *ngFor="let result of listResultHematology">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>{{result.appointmentHematology.dataAppointmentHematology}}</b>
            </mat-panel-title>
      
          </mat-expansion-panel-header>
          <table class="table table1">
            <caption>{{result.interpretare}}</caption>
            <thead>
              <tr>
                <th scope="col">Denumire</th>
                <th scope="col">Rezultate</th>
                <th scope="col">UM</th>
                <th scope="col">Interval biologic <br>de referință</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="result.appointmentHematology.acid_uric">
                <th scope="row">Acid uric</th>
                <td>{{result.acid_uric}}</td>
                <td>mg/dL</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">2.5 - 6.2</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">2.5 - 6.2</td>
              </tr>
              <tr *ngIf="result.appointmentHematology.globule_rosii">
                <th scope="row">Globule roșii</th>
                <td>{{result.globule_rosii}}</td>
                <td>milioane de celule/ mcL</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">3,90 - 5,03</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">4,32 - 5,72</td>
              </tr>
              <tr *ngIf="result.appointmentHematology.hemoglobina">
                <th scope="row">Hemoglobină</th>
                <td>{{result.hemoglobina}}</td>
                <td>g/L</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">135 - 175</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">120 - 155</td>
              </tr>
              <tr *ngIf="result.appointmentHematology.hematocrit">
                <th scope="row">Hematocrit</th>
                <td>{{result.hematocrit}}</td>
                <td>%</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">38,8 - 50,0</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">34,9 - 44,5</td>
              </tr>
              <tr *ngIf="result.appointmentHematology.globule_albe">
                <th scope="row">Globule albe</th>
                <td>{{result.globule_albe}}</td>
                <td>celule/ mcL</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">3,500 - 10,500</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">3,500 - 10,500</td>
              </tr>  
              <tr *ngIf="result.appointmentHematology.trombocite">
                <th scope="row">Trombocite</th>
                <td>{{result.trombocite}}</td>
                <td>/mcL</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">150.000 - 450.000</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">150.000 - 450.000</td>
              </tr>  
              <tr *ngIf="result.appointmentHematology.calciu_ionic_seric">
                <th scope="row">Calciu ionic seric</th>
                <td>{{result.calciu_ionic_seric}}</td>
                <td>mg/dL</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">3.82 - 4.82</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">3.82 - 4.82</td>
              </tr>
              <tr *ngIf="result.appointmentHematology.calciu_seric_total">
                <th scope="row">Calciu seric total</th>
                <td>{{result.calciu_seric_total}}</td>
                <td>mg/dL</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">8.2 – 11.2</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">8.2 – 11.2</td>
              </tr>
              <tr *ngIf="result.appointmentHematology.colesterol_seric_total">
                <th scope="row">Colesterol seric total</th>
                <td>{{result.colesterol_seric_total}}</td>
                <td>mg/dcl</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">201 – 240</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">201 – 240</td>
              </tr>
              <tr *ngIf="result.appointmentHematology.creatina_serica">
                <th scope="row">Creatină serică</th>
                <td>{{result.creatina_serica}}</td>
                <td>mg/dL</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">0,7 - 1,3</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">0,6 - 1,1</td>
              </tr>
              <tr *ngIf="result.appointmentHematology.ldl_colesterol">
                <th scope="row">LDL colesterol</th>
                <td>{{result.ldl_colesterol}}</td>
                <td>mg/dcl</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">130 – 159</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">130 – 159</td>
              </tr>
              <tr *ngIf="result.appointmentHematology.hdl_colesterol">
                <th scope="row">HDL colesterol</th>
                <td>{{result.hdl_colesterol}}</td>
                <td>mg/dcl</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">40 – 59</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">40 – 59</td>
              </tr>
              <tr *ngIf="result.appointmentHematology.magneziu_seric">
                <th scope="row">Magneziu seric</th>
                <td>{{result.magneziu_seric}}</td>
                <td>mg/dL</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">1.6 - 2.4</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">1.6 - 2.4</td>
              </tr>
              <tr *ngIf="result.appointmentHematology.trigliceride_serice">
                <th scope="row">Trigliceride serice</th>
                <td>{{result.trigliceride_serice}}</td>
                <td>mg/dL</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">150 - 200</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">150 - 200</td>
              </tr>
              <tr *ngIf="result.appointmentHematology.uree_serica">
                <th scope="row">Uree serica</th>
                <td>{{result.uree_serica}}</td>
                <td>mg/dL</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">12.8 - 42.6</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">12.8 - 42.6</td>
              </tr>
              <tr *ngIf="result.appointmentHematology.potasiu_seric">
                <th scope="row">Potasiu seric</th>
                <td>{{result.potasiu_seric}}</td>
                <td>mmol/L</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">3.5 – 5.1</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">3.5 – 5.1</td>
              </tr>
             
              <tr *ngIf="result.appointmentHematology.t3">
                <th scope="row">T3</th>
                <td>{{result.t3}}</td>
                <td>nmol/L</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">1.3 - 3.1</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">1.3 - 3.1</td>
              </tr>
              <tr *ngIf="result.appointmentHematology.t4">
                <th scope="row">T4</th>
                <td>{{result.t4}}</td>
                <td>µg/dL</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">5.13 - 14.1</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">5.13 - 14.1</td>
              </tr>
              <tr *ngIf="result.appointmentHematology.tgo">
                <th scope="row">TGO</th>
                <td>{{result.tgo}}</td>
                <td>mg/dL</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">4 – 38</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">4 – 46</td>
              </tr>          
              <tr *ngIf="result.appointmentHematology.tgp">
                <th scope="row">TGP</th>
                <td>{{result.tgp}}</td>
                <td>mg/dL</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">4 – 52</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">4 – 69 </td>
              </tr>
              <tr *ngIf="result.appointmentHematology.tsh">
                <th scope="row">TSH</th>
                <td>{{result.tsh}}</td>
                <td>µUI/mL</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'feminin'">0,27- 4,2</td>
                <td *ngIf="result.appointmentHematology.patient.sexPatient == 'masculin'">0,27- 4,2</td>
              </tr>
            </tbody>
          </table>
           <!-- <div class="grid">
          </div>  --> 
        </mat-expansion-panel>
      </ng-container>
    </mat-step>
    <mat-step>

      <ng-template matStepLabel>Rezultate radiologie</ng-template>
      
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Date contact</ng-template>
      <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
        class="aligned-with-icon"><ins>Telefon</ins>: {{fisaInfo?.patient.numberUser}}</span><br>
      <mat-icon class="icon-display" matListIcon inline=true>fiber_manual_record</mat-icon><span
        class="aligned-with-icon"><ins>Email</ins>: {{fisaInfo?.patient.emailUser}}</span><br>
    </mat-step>
  </mat-vertical-stepper>
</mat-dialog-content>

<div mat-dialog-actions [align]="'center'">
  <button class="button-prog" (click)= "openDialog()">Informații noi</button>
  <button class="button-prog" (click)= "openAppointmentsDialog()">Programează</button>
  <button class="button-prog" mat-dialog-close >Cancel</button>
</div>