<section class="programare" [formGroup]="appointmens">
  <h4>Selectează tipul de programare dorit</h4>
  <p>
    <mat-checkbox formControlName="appointmensRadiology">Imagistica</mat-checkbox>
  </p>
  <p>
    <mat-checkbox formControlName="appointmensHematology">Hematologie</mat-checkbox>
  </p>
</section>
<div mat-dialog-actions [align]="'end'">
  <button class="button-prog" role="button" *ngIf="appointmens.get('appointmensHematology').value == true" 
    (click)="addAppointmentHematology()">Adauga programare</button>

    <button class="button-prog" role="button" 
    *ngIf="appointmens.get('appointmensRadiology').value == true && appointmens.get('appointmensHematology').value != true"
     (click)="openAddRadiology()">Resetează</button>
</div>