.example-container .mat-form-field + .mat-form-field {
    margin: 0 auto
   
  }
.mat-form-field{
    width: 20vw;
    margin-left: 3.2vw;
}
.button{
    text-align: center;
}

    /*scroll bar*/
  /* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ededf0; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(59, 195, 251); 
    border-radius: 10px;
}
.button-prog {
  background: #EE6F57;
  border-radius: 999px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 18px;
  border: 0;
  
position: relative;
}
h5{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
mat-spinner {
  position: absolute;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}
