<mat-card>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="doLoginPatient()">
        <h2>Log In</h2>
        <mat-form-field>
          <input matInput placeholder="Cnp" [(ngModel)]="userDto.username" name="cnp" required>
          <mat-error>
            Introduceti un CNP valid
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="userDto.password" name="password" required>
          <mat-error>
            Introduceti o parola
          </mat-error>
        </mat-form-field>
        <mat-error>{{msg}}</mat-error>
        <br>
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>