<mat-card class="first-box">
    <mat-card-content>
      <form #loginForm="ngForm"  [formGroup]="firstFormGroup">
        <h2>Contul meu</h2>
        <mat-error>{{msg}}</mat-error>
        <br>

       
        <mat-form-field appearance="fill">
          <mat-label>CNP</mat-label>
          <input matInput placeholder="ex. 6001100110000" formControlName="username" required>
          <mat-error class="error" *ngIf="firstFormGroup.controls['username'].hasError('pattern')">
            Introduceti un CNP valid
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Parola noua</mat-label>
          <input matInput [type]="hideNew ? 'password' : 'text'"  formControlName="password">
          <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
            <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field></form>
        <mat-slide-toggle [(ngModel)]="isChecked">Doresc sa ma conectez ca pacient</mat-slide-toggle>
        <p (click)="openForgotPassDialog()" ><br> <u>Mi-am uitat parola</u></p>
        <button class="button-prog" role="button" *ngIf="isChecked"(click)="doLoginPatient()">Autentificare</button>

        <button class="button-prog" role="button" *ngIf="!isChecked"(click)="doLoginUser()">Autentificare</button>

    </mat-card-content>
  </mat-card>
