<nav class="navbar navbar-expand-lg navbar" style="box-shadow: 0px 1px; color: rgb(43, 158, 235); background-color: white;">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <i style="margin-left: 1.5rem; margin-right: 1rem;font-size: 2rem; color: rgb(61, 147, 245);" routerLink="/home"
        class="fas fa-praying-hands"></i>

    </ul>
  </div>
  <a class="navbar-brand"  *ngIf = "_service.loggedIn()" href="/">
    <div class="logo-image">
          <img src="image" class="img-fluid">
    </div>
</a>
<a class="nav-link" style="cursor: pointer" *ngIf = "_service.loggedIn()" (click)="_service.logoutUser()" style="color: black;">Logout</a>

</nav>

<router-outlet></router-outlet>