.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Create 2 columns and auto-place rows */
}
.container-style{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5rem;
    width: 19.5rem;
}
h2{
    text-align: center;
}
section {
    display: table;
  }
.example-button-row {
    display: table-cell;
    width: 490rem;
    
  }
.example-button-row .mat-button-base {
    margin: 8px 0px 8px 68px;
  }
  