<h2 style="margin-top: 2vh;">Internari curente</h2>
<div mat-dialog-actions class="addButton" [align]="'center'">
  <button mat-raised-button color="warn" (click)="openAddDialog()">Adauga internare</button>
</div>
<div class="grid">
  <ng-container *ngFor="let hosp of listHospitalization">
    <div class="container-style">
      <br>
     <h5 style="text-align: center;"><ins><b>{{hosp.patient.firstName}} {{hosp.patient.dadLetterPatient}}
            {{hosp.patient.lastName}}</b></ins> </h5>
      <h6 style="text-align: center;">{{hosp.patient.numberUser}}</h6>
      <br> 
       <span style="margin-left: 2rem ;"><b>CNP: </b>{{hosp.patient.cnp}}</span><br>
      <br>
      <span style="margin-left: 2rem ;"><b>Data internarii:
        </b>{{hosp.startDateHospitalization.split(" ")[0]}}</span><br>
      <span style="margin-left: 2rem ;"><b>Ora internarii:
        </b>{{hosp.startDateHospitalization.split(" ")[1]}}</span><br>
      <span style="margin-left: 2rem ;"><b>Doctor curant:
      </b>{{hosp.cardiolog.firstName}} {{hosp.cardiolog.lastName}}</span><br>
    <br>
  
      <div class="example-button-row">
        <button mat-stroked-button color="primary" (click)="readMoreDialog(hosp.registrationNoHospitalization)">Detalii</button>
        </div>
  <!--
        <button mat-stroked-button color="primary"
          (click)="externeazaPacient(listHospitalization[i]?.registrationNoHospitalization)">Externeaza</button>

      </div>-->
    </div>

  </ng-container>
</div>

<p>{{msg}}</p>
<button (click)="afis('6001206159625')">aici</button>