<h2 style="margin-top: 2vh;">Internari curente</h2>
<div mat-dialog-actions class="addButton" [align]="'center'">
  <button mat-raised-button color="warn" (click)="openAddDialog()">Adauga internare</button>
</div>
<div class="grid">
  <ng-container *ngFor="let hosp of listHospitalization; let i = index">
    <div class="container-style">
      <br>
      <h5 style="text-align: center;"><ins><b>{{pacientL[i]?.firstName}} {{pacientL[i]?.dadLetterPatient}}
            {{pacientL[i]?.lastName}}</b></ins> </h5>
      <h6 style="text-align: center;">{{pacientL[i]?.numberUser}}</h6>
      <br>
      <span style="margin-left: 2rem ;"><b>Data internarii:
        </b>{{hosp.startDateHospitalization.split(" ")[0]}}</span><br>
      <span style="margin-left: 2rem ;"><b>Ora internarii:
        </b>{{hosp.startDateHospitalization.split(" ")[1]}}</span><br>
      <br>
      <span style="margin-left: 2rem ;"><b>CNP: </b>{{pacientL[i]?.cnp}}</span><br>
      <br>
      <div class="example-button-row">
        <button mat-stroked-button color="primary" (click)="readMore(pacientL[i].cnp)">Detalii</button>

        <button mat-stroked-button color="primary"
          (click)="externeazaPacient(listHospitalization[i].registrationNoHospitalization)">Externeaza</button>

      </div>
    </div>

  </ng-container>
</div>