<h2 style="margin-top: 2vh;">Consultatiile din aceasta zi</h2>
<div class="grid">
  <ng-container *ngFor="let appointment of listAppointment">
    <div class="container-style">
      <br>
      <h5 style="text-align: center;"><ins><b>{{appointment.hour}}</b></ins> </h5>


      <span style="margin-left: 2rem ;"><b>Doctor curant: </b>{{appointment.cardiolog.firstName}}
        {{appointment.cardiolog.lastName}}</span><br>
      <br>
      <span style="margin-left: 2rem ;"><b>CNP: </b>{{appointment.cnp}}</span><br>
      <span style="margin-left: 2rem ;"><b>Prenume: </b> {{appointment.firstName}}</span><br>
      <span style="margin-left: 2rem ;"><b>Nume: </b> {{appointment.lastName}}</span><br>
      <br>
      <span style="margin-left: 2rem ;"><b>Email: </b>{{appointment.emailUser}}</span><br>
      <span style="margin-left: 2rem ;"><b>Telefon: </b>{{appointment.numberUser}}</span><br>

      <br>

      <div [align]="'center'">
        <button mat-stroked-button color="primary" (click)="openAddDialog(appointment)">More</button>
      </div>
      <br>

    </div>


  </ng-container>
</div>
<!--
<div class="footer">
<mat-paginator 
(page)="onPageChange($event)"
[pageSize]="3">
</mat-paginator></div>-->